/*Estilo Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button,
.btn-curriculo button {
    margin-top: 10px;
    padding: 8px 25px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: #7A9BAE;
    cursor: pointer;
    transition: .2s;
    display: flex;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #7a9baeb3;
    transform: scale(1.02);
}

a {
    text-decoration: none;
}

/*Estilo do Cabeçalho*/

.titulo-principal {
    color: #7A9BAE;
    font-size: 25px;
}

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #a7a7a7;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}


/* ESTILO DO MENU MOBILE */

.btn-abrir-menu i{
    color: #7a9baeb3;
    font-size: 40px;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #7A9BAE;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #7A9BAE;
    color: #000;
}

.overlay-menu{
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

.btn-abrir-menu{
    display: none;
}


/*Estilo do Topo do Site*/

section.topo-do-site {
    padding: 40px 4%;
    margin: 50px;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.topo-do-site .txt-topo-site h1 {
    color: #fff;
    font-size: 40px;
    line-height: 30px;
}

.topo-do-site .inicio-apresentacao {
    font-size: 20px;
}

.topo-do-site .txt-topo-site p {
    line-height: 30px;
    text-align: justify;
    color: #fff;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img {
    width: 300px;
    border: 3px solid #7A9BAE;
    border-radius: 30px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/*Estilo das Tecnologias*/

section.tecnologias {
    padding: 40px 4%;
}

section.tecnologias .flex {
    gap: 60px;
}

.flex-tecnologias {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    /*posociona os elemento de forma bidimensional*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 270px));
    /*dizemos o tamanho de cada uma das colunas. Repete as colunas, que automanticamente ficam organizadas em tela, onde o tamanho minimo de cada um dos cards é 250px e o maximo 550px*/
    justify-content: center;
    gap: 2rem;
}

.tecnologias .tecnologias-box {
    height: 400px;
    text-align: center;
    border: 2px solid #7A9BAE;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    margin-top: 50px;
}

.tecnologias .tecnologias-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff77;
}

.tecnologias .tecnologias-box img {
    height: 120px;
}

.tecnologias .tecnologias-box h3 {
    font-size: 26px;
    margin: 15px 0;
}

/*Estilo do Sobre*/

section.sobre {
    padding: 80px 4%;
}

section .img-sobre img {
    width: 300px;
    border: 3px solid #7A9BAE;
    border-radius: 30px;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #7A9BAE;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #7A9BAE;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/*Estilo do Portfólio*/


.interface-portfolio {
    padding: 80px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-portfolio {
    width: 100%;
    margin-top: 2rem;
    display: grid;
    /*posociona os elemento de forma bidimensional*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    /*dizemos o tamanho de cada uma das colunas. Repete as colunas, que automanticamente ficam organizadas em tela, onde o tamanho minimo de cada um dos cards é 250px e o maximo 550px*/
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.portfolio-caixa {
    width: 400px;
    border: 2px solid #7A9BAE;
    border-radius: 10px;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.portfolio-caixa p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.portfolio-caixa img {
    width: 370px;
    border-radius: 10px;
}

.portfolio-buttons {
    margin: 10px;
    display: flex;
    gap: 30px;
}

.portfolio-buttons button {
    padding: 6px 20px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: #7A9BAE;
    cursor: pointer;
    transition: .2s;
}

/*Estilo das Contato*/

section.formulario {
    padding: 30px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input,
form textarea {
    width: 100%;
    background-color: #252525e2;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 15px;
}

form input::placeholder {
    color: #fff;
}

form textarea {
    resize: none;
    /*Serve para redimensinar o textarea*/
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    height: 60px;
    width: 80px;
    font-size: 15px;
    background-color: #7A9BAE;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/*Estilo do Rodapé*/

footer {
    padding: 10px 4%;
    box-shadow: 0 0 40px 10px #7a9bae6a;
}

.logo-footer h2 {
    color: #7A9BAE;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #7A9BAE;
}

footer .line-footer p i {
    color: #7A9BAE;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

@media screen and (max-width: 981px) {

    /* CLASSES GERAIS */
    .flex{
        flex-direction: column-reverse;
    }
    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }

    h2.titulo {
        font-size: 30px;
    }

    /* TOPO DO SITE */

    section.topo-do-site {
        padding: 10px 6%;
        margin: 10px;
    }
    
    .topo-do-site .txt-topo-site h1 {
        font-size: 30px;
    }

    .topo-do-site .txt-topo-site p {
        line-height: 30px;
        margin: 20px 0px;
    }
    
    .topo-do-site .img-topo-site img {
        width: 250px;
    }

    /* TECNOLOGIAS */

    section.tecnologias {
        padding: 40px 6%;
    }

    .flex-tecnologias {
        margin-bottom: 0.2rem;
    }
    
    .tecnologias .tecnologias-box {
        height: 360px;
        padding: 5px;
        margin-top: 20px;
    }

    /* SOBRE */

    section.sobre {
        padding: 40px 6%;
    }
    
    section .img-sobre img {
        width: 250px;
    }

    .sobre .txt-sobre h2 {
        font-size: 30px;
        line-height: 30px;
    }
        
    .sobre .txt-sobre p {
        margin: 20px 0;
    }

    .btn-social{
        text-align: center;
    }

    .btn-social button {
        width: 40px;
        height: 40px;
    }

    /* PORTFÓLIO */

    .interface-portfolio {
        padding: 20px 6%;
    }

    .flex-portfolio {
        margin-top: 2rem;
        gap: 2rem;
    }
        
    .portfolio-caixa {
        width: 340px;
        padding-top: 1rem;
    }

    .portfolio-caixa img {
        width: 320px;
    }

    /* RODAPÉ */

    footer .flex {
        flex-direction: column;
        gap: 20x;
    }

    footer .line-footer {
        text-align: center;
    }

    .btn-abrir-menu{
        display: block;
    }
    
}